[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sanic = "*"
jinja2 = "*"
requests = "*"
itsdangerous = "*"
loguru = "*"
bcrypt = "*"
requests-cache = "*"
pony = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.6"
