.search-container form input {
    border: none;
    font-weight: 600;
    font-size: 24px;
    border-bottom: 3px solid #BABABA;
    border-radius: 1px;
    max-width: 70%;
}

.search-container form input:focus {
    border-color: #404040;
}

::placeholder {
    color: #BABABA;
    opacity: 1;
}

.search-container form button[type=reset] {
	background: none;
    border: none;
    transform: translate(-100%, -40%);
}

.trending-container {
    position: relative;
    margin-top: 60px;
    padding-top: 6vh;
}

.results-container .row {
    /* Poster width/2 = 95px */
    transform: translate(95px, 0%); 
}

.results-container {
    position: relative;
}

.gradient-background-flipped {
    z-index: -2;
    height: 200px;
	position: absolute;
	top: 0px;
    background: linear-gradient(0deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E8E8E8;
}

@media (min-width:800px) {

    .trending-container {
        margin-top: 150px;
        padding-top: 6vh;
    }
    .trending-container .row {
        position: absolute;
        left: -100px;
        right: -100px;
    }

    .search-container form input {
        font-size: 48px;
    }
}