.search-container form input {
    border: none;
    font-weight: 600;
    font-size: 24px;
    border-bottom: 3px solid #BABABA;
    border-radius: 1px;
    max-width: 70%;
}

.search-container form input:focus {
    border-color: #404040;
}

::placeholder {
    color: #BABABA;
    opacity: 1;
}

.search-container form button[type=reset] {
	background: none;
    border: none;
    transform: translate(-100%, -40%);
}

.trending-container {
    position: relative;
}

.results-container .row {
    /* Poster width/2 = 95px */
    transform: translate(95px, 0%); 
}

@media (min-width:800px) {
    .trending-container .row {
        position: absolute;
        left: -100px;
        right: -100px;
    }

    .search-container form input {
        font-size: 48px;
    }
}