@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?tyo5wx');
  src:  url('fonts/icomoon.eot?tyo5wx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?tyo5wx') format('truetype'),
    url('fonts/icomoon.woff?tyo5wx') format('woff'),
    url('fonts/icomoon.svg?tyo5wx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"], i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remove-history:before {
  content: "\e90e";
}
.icon-film:before {
  content: "\e90d";
}
.icon-tick:before {
  content: "\e90a";
}
.icon-cross:before {
  content: "\e90b";
}
.icon-plus:before {
  content: "\e90c";
}
.icon-trending:before {
  content: "\e908";
}
.icon-list:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e900";
}
.icon-discover:before {
  content: "\e901";
}
.icon-history:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
.icon-star-fill:before {
  content: "\e904";
}
.icon-tv:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-pencil:before {
  content: "\e909";
}
.icon-bin:before {
  content: "\e9ad";
}
