.movie {
	position: relative;
	text-align: center;
	margin-left: 23px;
	margin-right: 23px;
	margin-bottom: 30px;
	width: 190px;
	min-width: 190px;
}

.movie .gradient-overlay {
    position: relative;
	border-radius: 7px;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.01) 50.52%, rgba(0, 0, 0, 0.6) 100%);
}

.movie .poster {
	border-radius: 7px;
	height: 280px;
	width: 100%;
	display: block;
	position: relative;
	z-index: -1;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 17px;
}

.movie .title {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
	
	font-weight: 300;
	font-size: 18px;
	line-height: 22px;
	color: #000000;
}

.movie .title {
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

.movie .title strong {
	color: inherit;
	font-weight: 600;
	font-size: 22px;
	line-height: 24px;
}

.movie form button {
	position: absolute;
	z-index: 2;
	background: none;
	border: none;
	display: none;
	/* background-color: white;
	color: var(--brand-main); */
	background-color: var(--brand-main);
	color: white;
	height: 33px;
	padding: 0px 9px 0px 10px;
	border-radius: 7px;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.movie form button {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.movie form i {
	font-size: 16px;
}

.movie form span {
	display: none;
}

.movie:hover button {
	display: block;
}

.movie:hover button:hover span {
	display: inline-block;
	padding-left: 4px;
}

.movie form .right {
    top: 10px;
    right: 10px;
}

.movie form .left {
    top: 10px;
    left: 10px;
}

.movie a {
	color: #000000;
}

.movie a:hover {
	color: #000000;
	text-decoration: none;
}

.not-watchlist .watchlist-buttons  {
	display: none;
}

.not-watchlist .not-watchlist-buttons  {
	display: block;
}

.watchlist .watchlist-buttons  {
	display: block;
}

.watchlist .not-watchlist-buttons  {
	display: none;
}

.movie .rating {
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	color: white;
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.movie .rating img {
    margin-bottom: 3px;
}

.movie .rt-rating {
    left: 16px;
}

.movie .imdb-rating {
    right: 16px;
}

@media (max-width:800px) {
    .movie form button {
		display: block;
	}
}