.watchlist-container {
    margin-top: 15vh;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #E8E8E8;
    background-position: left;
    background-size: 100vw;
}

.watchlist-title {
    color: #000000;
    padding-left: 15px;
}

.watchlist-title img {
    margin-top: 2px;
    margin-bottom: auto;
}

.watchlist-title h1 {
    margin-left: 15px;
}

.watchlist-body {
    height: 354px;
}