.rating {
    display: none;
}
.movie .gradient-overlay {
    background: none !important;
}

.watchlist-container {
    position: relative;
}

.gradient-background {
    z-index: -2;
    height: 100%;
    position: absolute;
    bottom: -20px;
    background: linear-gradient(180deg, #FFFFFF 80%, rgba(255, 255, 255, 0) 100%), #E8E8E8;
}

.watchlist-row {
    position: relative;
    padding-top: 20px;
    display: flex;
    overflow-x: auto;
    scrollbar-width: none;
}

.watchlist-row::-webkit-scrollbar {
    display: none;
}

.watchlist-row .filler {
    min-width: 20vw;
}

.watchlist-row .filler-end {
    min-width: 20px;
}

.watchlist-row .scroll-button {
    position: sticky;
    height: 48px;
    min-width: 48px;
    background: none;
	border: none;
    top: 40%;
    right: 10px;
    transform: translate(-50%, -50%);
}

.history-container {
    width: 100%;
}

table {
    display: block;
    width: 90%;
    min-width: 350px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.watchlist-row::-webkit-scrollbar {
    display: none;
}

th {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #ADADAD;
    padding-left: 35px;
}

td {
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    color: #383838;
    padding-left: 35px;
}

tr {
    border-bottom: 2px solid #E2E2E2;
    height: 68px;
    width: 80%;
}

table td.shrink {
    white-space:nowrap;
    min-width: 130px;
}
table td.expand {
    width: 99%;
}

table tr button {
    background: none;
    border: none;
    color: #E2E2E2;
    visibility: hidden;
}

table tr button:hover {
    color: #383838;
}

table tr:hover button {
	visibility: visible;
}

@media (max-width:1400px) {
    .watchlist-row .filler{
        min-width: 20px;
    }    
}
