{% extends "emails/base.html" %}

{% block name %}Reset Password{% endblock %}

{% block content %}
<tr>
    <td class="content-block">
        A password reset link has been requested for your account.
    </td>
</tr>
<tr>
    <td class="content-block">
        You can choose a new password by clicking the link below. If you did not request a password rest link, please ignore this email.
    </td>
</tr>
<tr>
    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
        <a href="{{cta_url}}" itemprop="url"><button class="cta-button">Reset password</button></a>
    </td>
</tr>
{% endblock %}