{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/authentication.css">
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="container">
    <section>
        <form action="{{url_for('auth.reset_password', token=token)}}" method="POST">
            <h2><strong>Reset your password.</strong></h2>
            <div class="form-field">
                <h5>Choose a new password</h5>
                <input type="password" name="password" required>
            </div>
            <div class="form-field">
                <h5>Confirm password</h5>
                <input type="password" name="confirm_password" required>
            </div>
            <div class="col align-center form-footer">
                <div class="row pb-3"><button type="submit" class="cta-button">Confirm</button></div>
            </div>
        </form>
    </section>
</div>


{% endblock %}