{% extends "base.html" %}
{% set active_page = "explore" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/explore.css">
<link rel="stylesheet" href="/static/css/movie.css">
{% endblock %}

{% block title %}Explore{% endblock %}

{% block content %}

<div class="container">
    <section class="search-container text-center">
        <form action="{{url_for('explore.search')}}" method="GET">
            <input id="search-input" type="text" placeholder="Search..." name="query" {% if query %}value="{{query}}"{% endif %}>
        </form>
    </section>
    {% if results is defined %}
    <section class="results-container">
        <h2><i class="icon-discover"></i> Results</h2>
        <div class="row">
            {% for movie in results %}
            {% if movie.poster_url %}
                {% include "components/movie.html" %}
            {% endif %}
            {% endfor %}
        </div>
    </section>
    {% else %}
    <section class="trending-container">
        <div class="gradient-background-flipped row-full"></div>
        <h2><i class="icon-trending"></i> Trending</h2>
        {% with movies = trending|batch(5)|first %}
            {% include "components/movie-list.html" %}
        {% endwith %}
    </section>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/explore.js"></script>
{% endblock %}