{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/explore.css">
<link rel="stylesheet" href="/static/css/movie.css">
{% endblock %}

{% block title %}Explore{% endblock %}

{% block content %}

<div class="container">
    <section class="search-container text-center">
        <form action="{{url_for('explore.search')}}" method="GET">
            <input id="search-input" type="text" placeholder="Search..." name="query">
            <button type="reset"><img src="/static/img/explore/cross.svg" alt=""></button>
        </form>
    </section>
    {% if results is defined %}
    <section class="results-container">
        <h2>Results</h2>
        <div class="row mx-auto">
            {% for movie in results %}
                {% include "components/movie.html" %}
            {% endfor %}
        </div>
    </section>
    {% else %}
    <section class="trending-container">
        <h2>Trending</h2>
        <div class="row justify-content-center">
            {% for movie in trending|batch(5)|first %}
                {% include "components/movie.html" %}
            {% endfor %}
        </div>
        
    </section>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/explore.js"></script> 
{% endblock %}