{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/authentication.css">
{% endblock %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

<div class="container">
    <section>
        <form class="mx-auto" action="{{url_for('auth.forgot_password')}}" method="POST">
            <h2><strong>Forgot your password?</strong></h2>
            <div class="form-field">
                <h5>Email address</h5>
                <input type="email" name="email" required>
            </div>
            <div class="col align-center form-footer">
                <div class="row pb-3"><button type="submit" class="cta-button">Send recovery link</button></div>
                <div class="row mb-auto pb-3"><a class="mx-auto" href="{{url_for('register_page')}}">Need an account?</a></div>
            </div>
        </form>
    </section>
</div>


{% endblock %}