{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/landing-page.css">
{% endblock %}

{% block title %}Home{% endblock %}



{% block content %}
<div class="container">
	<section id="main-section" class="mx-auto mx-xl-0 mx-lg-0 mx-md-0">
		<div class="cta-body">
			<h2>Your personal entertainment portfolio.</h2>
			<h3>Movie Check keeps track of movies you've <strong>seen</strong> and <strong>want to see</strong>.</h3>
			<a href="{{url_for('register_page')}}" class="cta-button-wrapper mb-3"><button class="cta-button">Sign up for free</button></a>
			<a href="{{url_for('login_page')}}">Already have an account?</a>
		</div>
		<div class="cover-container">
			{% for movie in trending|batch(4)|first %}
			<img src="{{movie.poster_url}}" alt="{{movie.title}}">
			{% endfor %}
		</div>
	</section>
</div>
<section class="features-container">
	<div id="features" class="container">
		<div class="features-body">
			<h2>Features</h2>
			<div class="row align-bottom">
				<div class="col-md mb-lg-auto mb-md-3 text-center">
					<i class="icon-check"></i>
					<h3>Seen</h3>
					<p>Keep track of which movies you’ve seen and what you thought of them.</p>
				</div>
				<div class="col-md mb-lg-auto mb-md-3 text-center">
					<i class="icon-list"></i>
					<h3>Watchlist</h3>
					<p>List and prioritize movies you would like to watch.</p>
				</div>
				<div class="col-md mb-lg-auto mb-md-3 text-center">
					<i class="icon-discover"></i>
					<h3>Discover</h3>
					<p>Browse trending titles from top movie sites such as IMDB and Rotten Tomatoes.</p>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}