{% extends "base.html" %}
{% set active_page = "sign-in" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/authentication.css">
<link rel="stylesheet" href="/static/css/sign-in.css">
{% endblock %}

{% block title %}Sign In{% endblock %}

{% block content %}

<div class="container">
    <section>
        <form action="{{url_for('auth.login')}}" method="POST">
            <h2><strong>Welcome back.</strong></h2>
            <div class="form-field">
                <h5>Email address</h5>
                <input type="email" name="email" required>
            </div>
            <div class="form-field">
                <h5>Password</h5>
                <input type="password" name="password" required>
            </div>
            <div class="col align-center form-footer">
                <div class="row pb-3"><button type="submit" class="cta-button">Sign in</button></div>
                <div class="row mt-3 pb-3"><a class="mx-auto" href="{{url_for('auth.forgot_password_page')}}">Forgot your password?</a></div>
                <div class="row mb-auto pb-3"><a class="mx-auto" href="{{url_for('register_page')}}">Need an account?</a></div>
            </div>
        </form>
    </section>
</div>


{% endblock %}