{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/authentication.css">
<link rel="stylesheet" href="/static/css/sign-up.css">
{% endblock %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container">
    <section>
        <form class="mx-auto" action="{{url_for('auth.register')}}" method="POST">
            <h2><strong>Let's get started.</strong></h2>
            {% if failure %}
            <p class="failure-message">{{failure}}</p>
            {% endif %}
            <div class="row">
                <div class="form-field col-xl">
                    <h5>First name</h5>
                    <input type="name" name="first_name" required>
                </div>
                <div class="form-field col-xl">
                    <h5>Last name</h5>
                    <input type="name" name="last_name" required>
                </div>
            </div>
            <div class="form-field">
                <h5>Email address</h5>
                <input type="email" name="email" required>
            </div>
            <div class="form-field">
                <h5>Choose a new password</h5>
                <input type="password" name="password" required>
            </div>
            <div class="form-field">
                <h5>Confirm password</h5>
                <input type="password" name="confirm_password" required>
            </div>
            <div class="row align-center form-footer">
                <div class="col-xl pb-3"><button type="submit" class="cta-button">Sign up for free</button></div>
                <div class="col-xl mt-auto mb-auto ml-auto pb-3"><a href="{{url_for('login_page')}}">Already have an account?</a></div>
            </div>
            
            <!-- TODO: ToS and PP links -->
            <p>By signing up, you confirm that you've read and accepted our 
                <a href="{{url_for('tos_page')}}" target="_blank" rel="noopener noreferrer">Terms of Service</a> and 
                <a href="url_for('privacy_policy_page'" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.</p>
        </form>
    </section>
</div>


{% endblock %}