{% extends "base.html" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/watchlist.css">
<link rel="stylesheet" href="/static/css/movie.css">
{% endblock %}

{% block title %}Watchlist{% endblock %}

{% block content %}

<div class="container">
    <section class="watchlist-container">
        <h2>{{user.first_name}}'s Watchlist</h2>
        <div class="row">
            {% for movie in watchlist %}
                {% include "components/movie-watchlist.html" %}
            {% endfor %}
        </div>
    </section>
    <section>
        <h2>History</h2>
        
        <table>
            <tr>
                <th>DATE</th>
                <th>TITLE</th>
            </tr>
            {% for movie in history %}
            <tr>
                <td>{{movie.date.strftime('%Y-%m-%d')}}</td>
                <td>{{movie.title}} ({{movie.year}})</td>
            </tr>
            {% endfor %}
        </table>
    </section>
</div>

{% endblock %}