{% extends "base.html" %}
{% set active_page = "watchlist" %}

{% block head %}
{{super()}}
<link rel="stylesheet" href="/static/css/watchlist.css">
<link rel="stylesheet" href="/static/css/movie.css">
<link rel="stylesheet" href="/static/css/rating.css">
{% endblock %}

{% block title %}Watchlist{% endblock %}

{% block content %}

<div class="container">
    <section class="watchlist-container">
        <h2><i class="icon-tv"></i> {{user.first_name|title}}'s Watchlist</h2>
        {% if watchlist|length == 0 %}
        <h3>Go to the <a href="{{url_for('explore.root')}}">Explore</a> tab and find some movies to add here.</h3>
        {% else %}
        <div class="gradient-background row-full"></div>
        {% with movies = watchlist %}
            {% include "components/movie-list.html" %}
        {% endwith %}
        {% endif %}
    </section>
    <section>
        <h2><i class="icon-history" style="font-size: 27px;"></i> History</h2>
        {% if history|length == 0 %}
        <h3>Movies that you've watched will show up here.</h3>
        {% else %}
        <div class="history-container">
            <table class="mx-auto">
                <tr>
                    <th>DATE</th>
                    <th>TITLE</th>
                    <th>GENRES</th>
                    <th>MY RATING</th>
                    <th></th>
                </tr>
                {% for movie in history %}
                    {% include "components/history-row.html" %}
                {% endfor %}
            </table>
        </div>
        {% endif %}
        <div class="mt-3">
            <a href="{{url_for('import_external.root')}}">Import watch history</a>
        </div>
    </section>
</div>

{% endblock %}

{% block scripts %}
{{super()}}
<script src="/static/js/watchlist.js"></script>
{% endblock %}