<div class="movie">
    {% block buttons %}
    <div class="movie-actions {{'watchlist' if movie.in_watchlist else 'not-watchlist'}}">
        <div class="not-watchlist-buttons">
            <form action="{{url_for('watchlist.add', movie_id=movie.imdb_id)}}" method="POST">
                <button class="left" type="submit"><img src="/static/img/explore/add-button.svg" title="Add to watchlist"></button>
            </form>
        </div>
        <div class="watchlist-buttons">
            <form action="{{url_for('watchlist.remove', movie_id=movie.imdb_id)}}" method="POST">
                <button class="right" type="submit"><img src="/static/img/watchlist/remove-button.svg" title="Remove from watchlist"></button>
            </form>
            <form action="{{url_for('watchlist.seen', movie_id=movie.imdb_id)}}" method="POST">
                <button class="left" type="submit"><img src="/static/img/watchlist/check-button-lg.svg" title="Mark as seen"></button>
            </form>
        </div>
    </div>
    {% endblock %}
    <div class="gradient-overlay">
        {% if movie.rt_rating is string %}
        <a href="{{movie.rt_url}}" target="_blank">
            <div class="rating rt-rating">
                <img src="/static/img/rt-logo.png" alt="">
                <span>{{movie.rt_rating}}</span>
            </div>
        </a>
        {% endif %}
        {% if movie.imdb_rating is string %}
        <a href="https://www.imdb.com/title/{{movie.imdb_id}}" target="_blank">
            <div class="rating imdb-rating">
                <img src="/static/img/imdb-logo.png" alt="">
                <span>{{movie.imdb_rating}}</span>
            </div>
        </a>
        {% endif %}
        <img class="poster" src="{{movie.poster_url}}" alt="">
    </div>
    <span><strong>{{movie.title}}</strong> ({{movie.year}})</span>
</div>