<div class="movie">
    <form action="{{url_for('watchlist.add', movie_id=movie.imdb_id)}}" method="POST">
        <button class="add-btn" type="submit"><img src="/static/img/explore/add-button.svg" alt=""></button>
    </form>
    <form action="{{url_for('watchlist.seen', movie_id=movie.imdb_id)}}" method="POST">
        <button class="check-btn" type="submit"><img src="/static/img/explore/check-button.svg" alt=""></button>
    </form>
    <div class="gradient-overlay">
        {% if movie.rt_rating is string %}
        <div class="rating rt-rating">
            <img src="/static/img/rt-logo.png" alt="">
            <span>{{movie.rt_rating}}</span>
        </div>
        {% endif %}
        {% if movie.imdb_rating is string %}
        <div class="rating imdb-rating">
            <img src="/static/img/imdb-logo.png" alt="">
            <span>{{movie.imdb_rating}}</span>
        </div>
        {% endif %}
        <img class="poster" src="{{movie.poster_url}}" alt="">
    </div>
    <span><strong>{{movie.title}}</strong> ({{movie.year}})</span>
</div>